<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a asp-action="Dashboard" asp-controller="Home" class="logo logo-dark">
            <span class="logo-sm">
                <img src="~/dist/assets/images/logo/logo2.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/dist/assets/images/logo/llhd-dark.png" alt="" height="22">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="index.html" class="logo logo-light">
            <span class="logo-sm">
                <img src="~/dist/assets/images/logo/logo2.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/dist/assets/images/logo/llhd-light.png" alt="" height="22">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                
                <li class="nav-item">
                    <a asp-action="Dashboard" asp-controller="Home" class='nav-link menu-link @(ViewBag.Title == "Dashboard" ? "active" : "")'>
                        <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Dashboard</span>
                    </a>
                </li>                          

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarLayouts" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarLayouts">
                        <i class="ri-layout-3-line"></i> <span data-key="t-layouts">Layouts</span> <span class="badge badge-pill bg-danger" data-key="t-hot">Hot</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarLayouts">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="layouts-horizontal.html" target="_blank" class="nav-link" data-key="t-horizontal">Horizontal</a>
                            </li>
                            <li class="nav-item">
                                <a href="layouts-detached.html" target="_blank" class="nav-link" data-key="t-detached">Detached</a>
                            </li>
                            <li class="nav-item">
                                <a href="layouts-two-column.html" target="_blank" class="nav-link" data-key="t-two-column">Two Column</a>
                            </li>
                            <li class="nav-item">
                                <a href="layouts-vertical-hovered.html" target="_blank" class="nav-link" data-key="t-hovered">Hovered</a>
                            </li>
                        </ul>
                    </div>
                </li> <!-- end Dashboard Menu -->

                <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-components">Administrasi</span></li>
                
                <li class="nav-item">
                    <a class='nav-link menu-link @(ViewBag.Parent == "Wilayah" ? "collapsed active" : "")' href="#wilayah" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarCharts">
                        <i class="ri-pages-line"></i> <span data-key="t-wilayah">Wilayah</span>
                    </a>
                    <div class='collapse menu-dropdown @(ViewBag.Parent == "Wilayah" ? "show" : "")' id="wilayah">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a asp-action="Provinsi" asp-controller="Wilayah" class='nav-link @(ViewBag.Title == "Provinsi" ? "active" : "")' data-key="t-provinsi"> Provinsi </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Kabupaten" asp-controller="Wilayah" class='nav-link @(ViewBag.Title == "Kabupaten" ? "active" : "")' data-key="t-kabupaten"> Kabupaten </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Kecamatan" asp-controller="Wilayah" class='nav-link @(ViewBag.Title == "Kecamatan" ? "active" : "")' data-key="t-kecamatan"> Kecamatan </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Kelurahan" asp-controller="Wilayah" class='nav-link @(ViewBag.Title == "Kelurahan" ? "active" : "")' data-key="t-kelurahan"> Kelurahan </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class='nav-link menu-link @(ViewBag.Parent == "Master" ? "collapsed active" : "")' href="#masterData" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarMultilevel">
                        <i class="ri-database-2-line"></i> <span data-key="t-master-data">Master Data</span>
                    </a>
                    <div class='collapse menu-dropdown @(ViewBag.Parent == "Master" ? "show" : "")' id="masterData">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="BidangUsaha" class='nav-link @(ViewBag.Title == "Bidang Usaha" ? "active" : "")' data-key="t-bidang-usaha"> Bidang Usaha </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="Kondisi" class='nav-link @(ViewBag.Title == "Kondisi Contoh" ? "active" : "")' data-key="t-kondisi-contoh"> Kondisi Contoh </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="Layanan" class='nav-link @(ViewBag.Title == "Layanan" ? "active" : "")' data-key="t-layanan"> Layanan </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="MetodeSampling" class='nav-link @(ViewBag.Title == "Metode Sampling" ? "active" : "")' data-key="t-metode-sampling"> Metode Sampling </a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>

    <div class="sidebar-background"></div>
</div>